/*
 * Meta box tabs
 */
a.nav-tab {
    margin-bottom: -4px;
    background: #f1f1f1;
}
a.nav-tab-active {
    background: #fcfcfc;
}
#jkl-reviews-meta-nav {
    max-width: 900px;
    background: #fcfcfc;
}
.divider {
    border-top: 1px solid gainsboro;
    margin: 10px 0;
}
/*
 * Meta box Review info choices
 */
#jkl-reviews-types {
    margin: -15px -12px 0;
    padding: 15px 0;
}
#jkl-reviews-types a {
    text-decoration: none;
    color: white;
    background: #777;
    width: 12.5%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    float: left;
}
#jkl-reviews-types a:hover,
#jkl-reviews-types a.active {
    background: #aaa;
}
#jkl-reviews-types i {
    text-align: center;
    color: white;
    display: block;
}
#jkl-reviews-types span {
    color: white;
    margin-top: 5px;
    text-align: center;
    display: block;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Meta box data collection areas.
 */
#jkl-review-info {
    border: 1px solid #ccc;
    border-top: none;
    padding-bottom: 20px;
}
.jkl-review { }
.jkl-label {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
}
.jkl-label-float {
    float: left;
}
.jkl-review input {
    width: 75%;
    margin-bottom: 10px;
}
.jkl-labeler input {
    width: 45%;
    margin-left: 20px;
}
.jkl-labeler {
    width: 100%;
    clear: both;
    display: block;
}
.jkl-label-preview-container {
    float: right;
    padding-top: 6px;
}
.jkl-label-preview{
    font-size: 0.8em;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 2px 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    margin-left: 5px;
}
#jkl-review-description {
    width: 75%;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 10px;
}
.jkl-review-detail-label { }
.jkl-review-details-left {
    width: 50%;
    float: left;
    display: block;
}
.jkl-review-details-right {
    width: 50%;
    float: right;
    display: block;
}
.jkl-review input[type=submit],
.jkl-review input[type=button] {
    width: auto;
}
.jkl-review input[type=checkbox] {
    margin: -3px 5px 0 0;
    width: auto;
}
.jkl-review input[type=url]/*,
.input-date*/ {
    width: 170px!important;
}
#jkl-cover-preview img {
    max-height: 100px;
}
.note {
    color: #999;
    font-style: oblique;
    margin: 5px 5px 5px 0;
}
span.note {
    margin-left: 22%;
    margin-top: -20px;
    display: block;
}
#jkl-review-rating {
    margin-left: 20px;
}
.range-number-left{
    position: absolute;
    margin: 6px 0 0 0px;
}
.range-number-right {
    position: absolute;
    margin: 6px 0 0 11px;
}
#star-rating {
    position: absolute;
    width: 55px;
    margin: 2px 40px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 15px;
}
#star-rating-text {
    position: absolute;
    margin: 6px 0 0 80px;
}

.select-dropdown {
    width: 170px;
}

#jkl-options-sample-disclosure {
    background-color: #fff;
    padding: 25px;
    color: #aaa;
}
#jkl-options-sample-disclosure strong {
    color: #777;
}
#jkl-options-sample-disclosure.Dark {
    background-color: #222;
    color: #777;
}
#jkl-options-sample-disclosure.Dark strong {
    color: #aaa;
}